<a href="https://colab.research.google.com/github/jovasque188/CSS2-Problem-Sets/blob/main/Vasquez_Jade_Problem_Set_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Block 1

In [ ]:
# import libraries 
import pandas as pd
import numpy as np 
import seaborn as sns

# Block 2

In [ ]:
# Load data
from google.colab import files 
#files = files.upload()
data = pd.read_excel('messed_up_iris.xlsx', index_col=0)

# Show shape of data 
print(data.shape)

# Show head of data
data.head()

(150, 7)

   sepal_length  sepal_width  petal_length  petal_width species   color  origin
0           5.1          3.5           1.4          0.2  setosa   green     usa
1           4.9          3.0           1.4          0.2  setosa  yellow     usa
2           4.7          3.2           1.3          0.2  setosa   green     usa
3           4.6          3.1           1.5          0.2  setosa  orange   japan
4           5.0          3.6           1.4          0.2  setosa    blue  europe

# Block 3

In [ ]:
# Remove columns and rows where more than 50% of data is missing 
data = data.dropna(thresh=len(data)*0.5, axis = 'columns')

# Show the shape of the data 
data.shape

(150, 6)

# Block 4

In [ ]:
# Remove duplicate data 
data = data.drop_duplicates(ignore_index=True)

# Show shape of data 
data.shape

(141, 6)

# Block 5

In [ ]:
# Dummy code the categorical data 

# Correct the misspelled names in the species column 
data['species'] = np.where(data['species']=='seotsa','setosa',data['species'])
data['species'] = np.where(data['species']=='versicolr','versicolor',data['species'])
data['species'] = np.where(data['species']=='virginiawest','virginica',data['species'])
data['species'] = np.where(data['species']=='virginia','virginica',data['species'])
data['species'] = np.where(data['species']=='west virginia','virginica',data['species'])

# Create a dataframe with the species column 
species_df = pd.get_dummies(data['species'],drop_first=True)

# Correct the misspelled names in the origin column 
data['origin'] = np.where(data['origin']=='euarope','europe',data['origin'])
data['origin'] = np.where(data['origin']=='uas','usa',data['origin'])

# Create a dataframe with the origin column 
origin_df = pd.get_dummies(data['origin'],drop_first=True)

# Concatenate the new data
data = pd.concat([data, species_df, origin_df],axis=1)

# Show the head of the data 
data.head()

   sepal_length  sepal_width  petal_length  ...  virginica japan usa
0           5.1          3.5           1.4  ...          0     0   1
1           4.9          3.0           1.4  ...          0     0   1
2           4.7          3.2           1.3  ...          0     0   1
3           4.6          3.1           1.5  ...          0     1   0
4           5.0          3.6           1.4  ...          0     0   0

[5 rows x 10 columns]

# Block 6

In [ ]:
# Drop the redundant columns from dataframe 
data = data.drop(['species'], axis = 1)
data = data.drop(['origin'], axis = 1)

# Show the head of the data
data.head()

   sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0           5.1          3.5           1.4  ...          0      0    1
1           4.9          3.0           1.4  ...          0      0    1
2           4.7          3.2           1.3  ...          0      0    1
3           4.6          3.1           1.5  ...          0      1    0
4           5.0          3.6           1.4  ...          0      0    0

[5 rows x 8 columns]

# Block 7

In [ ]:
# Remove outliers above 2 standard deviations

# Create a new df without outliers
data_std = pd.DataFrame()

# Create a for loop to find values that are out of range 
for i in data.columns:
  threshold_upper = data[i].mean()+2*data[i].std()
  threshold_lower = data[i].mean()-2*data[i].std()

  # Only add date within 2 std to new df
  std = []
  for k in data[i]:
    if ((k < threshold_upper) & (k > threshold_lower)):
      std.append(k)
    else:
      std.append(None)

  data_std[i] = std

In [ ]:
data_std

     sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0             5.1          3.5           1.4  ...          0      0    1
1             4.9          3.0           1.4  ...          0      0    1
2             4.7          3.2           1.3  ...          0      0    1
3             4.6          3.1           1.5  ...          0      1    0
4             5.0          3.6           1.4  ...          0      0    0
..            ...          ...           ...  ...        ...    ...  ...
136           6.7          3.0           5.2  ...          1      0    0
137           6.3          2.5           5.0  ...          1      1    0
138           6.5          3.0           5.2  ...          1      1    0
139           NaN          3.4           5.4  ...          1      1    0
140           5.9          3.0           5.1  ...          1      0    1

[141 rows x 8 columns]

# Block 8

In [ ]:
# Replace missing data with median value 
data_std = data_std.fillna(data_std.median())

# Block 10

In [ ]:
# Print the final data 
print(data_std)

# Check % of missing data in each column 
# If all columns are 0, then we know that there is no missing data
# data_std.isna().mean()

# Describe the final dataset 
data_std.describe()

     sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0             5.1          3.5           1.4  ...          0      0    1
1             4.9          3.0           1.4  ...          0      0    1
2             4.7          3.2           1.3  ...          0      0    1
3             4.6          3.1           1.5  ...          0      1    0
4             5.0          3.6           1.4  ...          0      0    0
..            ...          ...           ...  ...        ...    ...  ...
136           6.7          3.0           5.2  ...          1      0    0
137           6.3          2.5           5.0  ...          1      1    0
138           6.5          3.0           5.2  ...          1      1    0
139           5.8          3.4           5.4  ...          1      1    0
140           5.9          3.0           5.1  ...          1      0    1

[141 rows x 8 columns]

       sepal_length  sepal_width  ...       japan         usa
count    141.000000   141.000000  ...  141.000000  141.000000
mean       5.871631     3.057447  ...    0.297872    0.361702
std        0.788699     0.429989  ...    0.458953    0.482206
min        4.300000     2.000000  ...    0.000000    0.000000
25%        5.200000     2.800000  ...    0.000000    0.000000
50%        5.800000     3.000000  ...    0.000000    0.000000
75%        6.400000     3.300000  ...    1.000000    1.000000
max        7.900000     4.400000  ...    1.000000    1.000000

[8 rows x 8 columns]